* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: 'Georgia';
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

header {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

nav {
    background-color: #FD5353;
    height: 3rem;
}

nav ul {
    position: relative;
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
}

nav > ul > li > a {
    color: white;
    padding: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    background-color: #5000FF;
    padding-top: 2rem;
}

#sticker {
    position: absolute;
    width: 200px;
    top: -80px;
    left: 80%;

}

.large-text {
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.full-width {
    width: 100%;
}

/* pourquoi ça ne fonctionne pas ce truc ? */
main > p:nth-of-type(4) {
    margin-bottom: 2rem;
}

main > p {
    color: white;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#getting-there {
    text-align: center;
    width: 100%;
}

section > img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

address {
    display: inline-block;

    width: 49%;
    color: white;
}

